@import "tailwindcss";

:root {

  /* Color */
  --white:#F5F5F5;
  --grey:#4A4A4A;
  --black:#1A1A1A;
  --accent:#2900F9;

  /* Typography */

  /* Font family */
  --font-Heading: var(--font-F01);
  --font-Body: var(--font-F02);

  /* Heading */
  --h01: 80px;
  --h02: 64px;
  --h03: 56px;
  --h04: 48px;
  --h05: 36px;
  --h06: 24px;

  /* Body text */
  --b01: 18px;
  --b02: 16px;
  --b03: 14px;

  /* Button text */
  --bt01: 24px; 
  --bt02: 18px;
  --navlink: 110px;

  /* Display text */
  --D01: 200px;
  --D02: 150px;
  --D03: 40px;

  /* Line heights */
  --LH01: 1em;
  --LH02: 1.2em;

  /* Letter spacing */
  --LS01: -0.01em;
  --LS02: -0.02em;

  /* Font weight */
  --FW01: 400;

  /* padding */
  --MP: 24px;
}

@media (max-width: 1536px) {
    :root {

    /* TYPOGRAPHY */

    /* Heading */
    --h01: 72px;
    --h02: 64px;
    --h03: 40px;
    --h04: 32px;
    --h05: 24px;
    --h06: 20px;

    /* Body text */
    --b01: 15px;
    --b02: 14px;
    --b03: 14px;

    /* Button text */
    --bt01: 20px; 
    --bt02: 18px;
    --navlink: 40px;

    /* Display text */
    --D01: 180px;
    --D02: 150px;
    --D03: 40px;

  }
}

@media (max-width: 768px) {
    :root {

    /* TYPOGRAPHY */

    /* Heading */
    --h01: 56px;
    --h02: 48px;
    --h03: 32px;
    --h04: 26px;
    --h05: 20px;
    --h06: 16px;

    /* Body text */
    --b01: 14px;
    --b02: 14px;
    --b03: 14px;

    /* Button text */
    --bt01: 16px; 
    --bt02: 14px;
    --navlink: 40px;

    /* Display text */
    --D01: 80px;
    --D02: 60px;
    --D03: 24px;

  }
}

@media (max-width: 640px) {
    :root {

    /* TYPOGRAPHY */

    /* Heading */
    --h01: 56px;
    --h02: 48px;
    --h03: 32px;
    --h04: 26px;
    --h05: 20px;
    --h06: 16px;

    /* Body text */
    --b01: 14px;
    --b02: 14px;
    --b03: 14px;

    /* Button text */
    --bt01: 16px; 
    --bt02: 14px;
    --navlink: 40px;

    /* Display text */
    --D01: 80px;
    --D02: 60px;
    --D03: 24px;

  }
}


@theme inline {
  /* Color */
  --C100: var(--white);
  --C200: var(--grey);
  --C300: var(--black);
  --C400: var(--accent); 

  /* Typography */

  /* Font family */
  --font-Primary: var(--font-Heading);
  --font-Secondary: var(--font-Body);

  /* Heading */
  --h001: var(--h01);
  --h002: var(--h02);
  --h003: var(--h03);
  --h004: var(--h04);
  --h005: var(--h05);
  --h006: var(--h06);

  /* Body text */
  --text-b001: var(--b01);
  --text-b002: var(--b02); 
  --text-b003: var(--b03);

  /* Button text */
  --text-btn1: var(--bt01); 
  --text-btn2: var(--bt02);
  --text-nav-link: var(--navlink);

  /* Display text */
  --text-d001: var(--D01);
  --text-d002: var(--D02);
  --text-d003: var(--D03);

  /* Line heights */
  --lh01: var(--LH01);
  --lh02: var(--LH02);

  /* Letter spacing */
  --ls01: var(--LS01);
  --ls02: var(--LS02);

  /* Font weight */
  --normal: var(--FW01);

  /* padding */
  --main-padding: var(--MP);
}


body {
  background: var(--C300);
  color: var(--C100);
  font-family: var(--font-Primary), var(--font-Secondary);
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-Primary);
} */

h1 {
  font-family: var(--font-Primary);
  font-size: var(--h001);
  line-height: var(--lh02);
  Letter-spacing: var(--ls02);
  font-weight: var(--normal);
}

h2 {
  font-family: var(--font-Primary);
  font-size: var(--h002);
  line-height: var(--lh02);
  Letter-spacing: var(--ls02);
  font-weight: var(--normal);
}

h3 {
  font-family: var(--font-Primary);
  font-size: var(--h003);
  line-height: var(--lh02);
  Letter-spacing: var(--ls02);
  font-weight: var(--normal);
}

h4 {
  font-family: var(--font-Primary);
  font-size: var(--h004);
  line-height: var(--lh02);
  Letter-spacing: var(--ls02);
  font-weight: var(--normal);
}

h5 {
  font-family: var(--font-Primary);
  font-size: var(--h005);
  line-height: var(--lh02);
  Letter-spacing: var(--ls02);
  font-weight: var(--normal);
}

h6 {
  font-family: var(--font-Primary);
  font-size: var(--h006);
  line-height: var(--lh02);
  Letter-spacing: var(--ls02);
  font-weight: var(--normal);
}

p {
  /* font-family: var(--font-Secondary); */
  line-height: var(--lh02);
  letter-spacing: var(--ls02);
  font-weight: var(--normal);
}